*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background-color: rgb(252, 184, 184);
    font-family: Arial;
    height: 100vh;
    align-items: center;
}
.hpimg{
    display: flex;
    justify-content: left;
    height: 43rem;
    width: 17rem;
    flex-direction: left;
    align-items: left;

}
.celular{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 24px 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 40rem;
    width: 25rem;
}

.container-chat{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:  rgb(255, 243, 243);
    width: 100%;
    padding: 0px 24px 32px 24px;
    box-shadow: 0px 2px 4px #0005;
    height: 80%;
    overflow-y: scroll;
    border-radius: 50px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-margin-top: .8em;
}

.container-chat::-webkit-scrollbar{
    display: none;
}

.card:not(:nth-child(2)){
    margin-top: 24px;
}

.titulo{
    background-color: rgb(255, 243, 243);
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -5px;
    z-index: 2;
    padding: 24px 16px;
    width: 110%;
    height: 100px;
}

.card{
    display: grid;
    grid-template-columns: auto 1fr max-content;
    align-items: center;
    width: 100%;
    gap: 12px;
    border: 0.5px solid #666666;
    border-radius: 12px;
    padding: 12px;
    position: relative;
    max-height: 80px;
}

.card img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.nome-container{
    display: flex;
    align-items: center;
    gap: 8px;
}

.nome{
    font-weight: 500;
}

.qnt-msg{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: #18b197;
    color:  rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}


.info{
    display: flex;
    flex-direction: column; 
    gap: 6px;
}

.tempo{
    place-self: start;
    font-size: 12px;
}

.tempo, .mensagem{
    color: #b5b5b5;
}

.contato{
    position: absolute;
    bottom: -15px;
    left: 74px;
    background-color: #f891cd;
    padding: 4px 10px;
    font-size: 14px;
    border-radius: 12px;
    color:  rgb(255, 255, 255);
}